{% extends "base.html" %}
{% block title %} Imageboard {% endblock %}

{% block content %}
<h1 class="text-2xl font-bold">Imageboard</h1>
<a href="{% url 'upload' %}" class="font-bold underline">Upload new</a>

<div class="flex h-screen">
    <div class="w-1/6 p-6 break-words overflow-y-auto">
        <form method="get">
            <input type="text" name="q" placeholder="Search tags"
                value="{{ request.GET.q }}"
                class="border p-1 w-full">
            <button type="submit" class="border bg-gray-200 p-1">
                Search
            </button>
        </form>

        <h3 class="font-semibold"> Popular tags </h3>
        {% include "partials/tagbox.html" with tags=popular_tags %}
    </div>

    <div class="flex-1 p-6 overflow-y-auto">
    <div class="grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
        {% for post in page %}
            <div class="overflow-hidden">
                <a href="{% url 'imageview' post.pk %}?q={{ request.GET.q }}">
                <img src="{{ post.image.url }}" width="300">
                </a>
            </div>
        {% empty %}
            <p>No posts yet!</p>
        {% endfor %}
    </div>
    </div>
</div>

<div class="flex justify-center space-x-4 p-2 mt-6">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}
            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
           class="text-blue-500">-</a>
    {% endif %}

    {% for num in page.paginator.page_range %}
        {% if num == page.number %}
            <span class="text-black-900 font-bold">{{ num }}</span>
        {% elif num <= page.number|add:-3 or num >= page.number|add:3 %}
            {% if forloop.first or forloop.last %}
                <a class="text-blue-500" href="?page={{ num }}">{{ num }}</a>
            {% elif forloop.counter0 == 1 or forloop.counter0 == page.paginator.num_pages|add:-2 %}
                <span class="paginator-ellipsis">…</span>
            {% endif %}
        {% else %}
            <a class="text-blue-500" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}
            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
           class="text-blue-500">+</a>
    {% endif %}
</div>
{% endblock %}

