{% extends "base.html" %}
{% block title %} Imageboard {% endblock %}

{% block content %}
<h1>Imageboard</h1>
<form method="get">
    <input type="text" name="q" placeholder="Search tags">
    <button type="submit">Search</button>
</form>

<a href="{% url 'upload' %}">Upload new</a>

<hr>
{% for post in posts %}
    <div>
        <a href="{% url 'imageview' post.pk %}">
        <img src="{{ post.image.url }}" width="300"><br>
        </a>
    </div>
<hr>
{% empty %}
    <p>No posts yet!</p>
{% endfor %}
{% endblock %}

